*{
    background-color:aliceblue;
    font: 8;
}
.p {
    /* opacity: 0; */
    transition: opacity 5s; /* Transition back to 0 opacity takes 5 seconds */
}
li {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

